@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply cursor-pointer;
}

/* Hack to temporarily solve https://github.com/supabase/auth-ui/issues/219 */
.authBtn {
  @apply btn;
}
button[disabled].authBtn {
  font-size: 0.001px;
  filter: brightness(65%);
}
button[disabled].authBtn::before {
  font-size: 14px;
  content: "Loading...";
  color: hsl(var(--pc));
}

.footer > * {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.p-10 {
  padding: 20px;
}

.mb-1 {
  margin-bottom: 0px;
}

.rubixcube {
  width: 96px;
  height: 96px;
}
.text-xl.md\:text-3xl.font-bold.bg-clip-text.text-transparent.bg-gradient-to-r.from-primary.to-accent.mb-4.md\:mb-8 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

img.logo {
  height: 60px;
}

.menu li {
  margin-bottom: 10px;
}

.subscriber-hub-logo {
  height: 6rem;
}

h3 {
  font-size: 20px;
}